footer {
    background: var(--secundaria);
    margin: 1.5rem;
    border-radius: 20px;
    padding: 40px 0;
}
footer .logo span {
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
}
footer span, footer a {
    color: var(--primaria);
}
footer a {
    text-decoration: none;
    font-size: 1.25rem;
}
footer .colunas {
    display: flex;
    gap: 84px;
}
footer .coluna span {
    font-size: 2rem;
    font-weight: 500;
}
footer .coluna ul {
    list-style: none;
}
footer .linha:first-of-type {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
footer .linha:last-of-type {
    text-align: center;
}
footer .linha:last-of-type span {
    font-size: 8rem;
    font-weight: 500;
    font-style: italic;
    color: rgb(255, 11, 83, 0.15);
    text-align: center;
}