body {
    color: var(--branco);
}
main {
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
}

h1 {
    color: var(--primaria);
    margin-bottom: 20px;
}

h3 {
    color: var(--primaria);
    margin-bottom: 5px;
}

input {
    width: 100%;
    max-width: calc(100vw - 40px);
    margin-bottom: 20px;
}

button {
    width: 100%;
    max-width: calc(100vw - 40px);
    margin-top: 20px;
}

.links a {
    color: var(--primaria-variante);
    margin-top: 10px;
    font-size: 12px;
    margin-inline: 32px;
}

@media (max-width: 600px) {
    .links {
        display: flex;
        flex-direction: column;
    }
    .links a {
        text-align: center;
    }
}