main {
    padding: 20px;
}

h1, h2, .reviews, .share {
    color: var(--primaria);
}

p, li {
    color: var(--preto);
}

h1, h2 {
    font-size: 1.5rem;
}

.reviews {
    margin: 12px 0 48px 0;
    display: flex;
    gap: 12px;
}

.reviews span {
    font-size: 1rem;
    font-weight: 300;
}

.main-description {
    margin-bottom: 50px;
    font-size: 1rem;
}

.share {
    margin-bottom: 50px;
    display: flex;
    gap: 24px;
}

.share i {
    font-size: 2.25rem;
}

.secondary-description {
    margin-top: 32px;
    font-size: 0.875rem;
}

.secondary-description p {
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
}

.product-images {
    display: flex;
    gap: 20px;
}

.side-product-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-input {
    margin: 32px 0 24px 0;
    width: 100%;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colors img {
    width: 64px;
}

.sizes {
    display: flex;
    gap: 24px;
    margin: 24px 0 32px 0;
}

.buttons {
    display: flex;
    gap: 12px;
}

.buttons .add {
    display: flex;
}

.buttons .add input {
    background: var(--primaria);
    color: var(--branco);
    border: none;
    font-weight: 600;
    text-align: center;
    width: 100px;
}

.buttons .add button:first-of-type {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.buttons .add button:last-of-type {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.buttons .primary-button {
    width: 100%;
}

.text-button {
    font-size: 0.875rem;
    float: right;
    margin-top: 8px;
}

.text-button i {
    margin-right: 8px;
}

@media (min-width: 900px) {
    .content {
        position: relative;
    }
    .title {
        position: absolute;
    }
    .images-and-details {
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
    }
    .details {
        padding-top: 100px;
    }
    .side-product-images {
        width: 82px;
    }
}

@media (max-width: 901px) {
    .main-image {
        width: calc(100vw - 40px);
    }
    .product-images {
        flex-direction: column;
    }
    .side-product-images {
        flex-direction: row;
        width: calc(100vw - 40px);
    }
    .side-product-images img {
        height: 50px;
        width: auto;
        max-width: calc((100vw - 40px) / 4);
    }
    .colors img {
        max-width: calc((100vw - 40px) / 6);
    }
    .details {
        margin-top: 92px;
    }
}

@media (max-width: 500px) {
    .buttons {
        flex-direction: column;
    }
}