@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

:root {
    --primaria: #FF0B53;
    --primaria-variante: #fc447b;
    --secundaria: #FCDFE4;
    --branco: #fff;
}

header.cabecalho {
    color: var(--primaria);
    height: 120px;
    width: 100%;
    padding: 20px;
    display: inline-table;
}

header.cabecalho a {
    color: var(--primaria);
    text-decoration: none;
    transition: ease-in all 200ms;
}

header.cabecalho a:hover {
    color: var(--primaria-variante);
    text-decoration: underline;
}

header.cabecalho .miolo {
    color: var(--primaria);
    background-color: var(--secundaria);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap-reverse;
}

header.cabecalho .miolo nav ul li::marker {
    content: '';
    display: none;
}

header.cabecalho .miolo .navegacao nav ul,
header.cabecalho .miolo .extras nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

header.cabecalho .miolo .logo h5 {
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
}

section.corpo{
    padding: 0 20px;
}

section.corpo .banner{
    background: url('../images/banner_home.png') center no-repeat var(--secundaria);
    background-size: contain;
    border-radius: 20px;
    height: 450px;
    width: 100%;
}

@media screen and (max-width: 1100px) {

    section.corpo .banner{
        background-size: cover;
    }

}